.elementor-2463 .elementor-element.elementor-element-7a17842 > .elementor-widget-container {
  padding: 0px 0px 0px 0px;
}
.elementor-2463 .elementor-element.elementor-element-7a17842 .eael-tooltip .eael-tooltip-content i {
  font-size: 30px;
}
.elementor-2463
  .elementor-element.elementor-element-7a17842
  .eael-tooltip
  .eael-tooltip-content
  svg {
  height: 30px;
  width: 30px;
  line-height: 30px;
}
.elementor-2463
  .elementor-element.elementor-element-7a17842
  .eael-tooltip
  .eael-tooltip-content
  .ea-tooltip-svg-trigger {
  height: 30px;
  width: 30px;
}
.elementor-2463
  .elementor-element.elementor-element-7a17842
  .eael-tooltip:hover
  .eael-tooltip-text.eael-tooltip-top {
  animation-duration: 300ms;
}
.elementor-2463
  .elementor-element.elementor-element-7a17842
  .eael-tooltip:hover
  .eael-tooltip-text.eael-tooltip-left {
  animation-duration: 300ms;
}
.elementor-2463
  .elementor-element.elementor-element-7a17842
  .eael-tooltip:hover
  .eael-tooltip-text.eael-tooltip-bottom {
  animation-duration: 300ms;
}
.elementor-2463
  .elementor-element.elementor-element-7a17842
  .eael-tooltip:hover
  .eael-tooltip-text.eael-tooltip-right {
  animation-duration: 300ms;
}
.elementor-2463 .elementor-element.elementor-element-7a17842 .eael-tooltip {
  width: 100px;
  padding: 0px 0px 0px 90px;
}
.elementor-2463 .elementor-element.elementor-element-7a17842 .eael-tooltip:hover {
  color: #212121;
}
.elementor-2463 .elementor-element.elementor-element-7a17842 .eael-tooltip:hover a {
  color: #212121;
}
.elementor-2463 .elementor-element.elementor-element-7a17842 .eael-tooltip:hover svg {
  fill: #212121;
}
.elementor-2463 .elementor-element.elementor-element-7a17842 .eael-tooltip .eael-tooltip-text {
  width: 955px;
  max-width: 150px;
  padding: 0px 0px 0px 0px;
  color: #fff;
}
.elementor-2463
  .elementor-element.elementor-element-7a17842
  .eael-tooltip
  .eael-tooltip-text:after {
  border-width: 18px;
}
.elementor-2463
  .elementor-element.elementor-element-7a17842
  .eael-tooltip
  .eael-tooltip-text.eael-tooltip-left::after {
  top: calc(50% - 18px);
}
.elementor-2463
  .elementor-element.elementor-element-7a17842
  .eael-tooltip
  .eael-tooltip-text.eael-tooltip-right::after {
  top: calc(50% - 18px);
}
.elementor-2463
  .elementor-element.elementor-element-7a17842
  .eael-tooltip
  .eael-tooltip-text.eael-tooltip-top::after {
  left: calc(50% - 18px);
}
.elementor-2463
  .elementor-element.elementor-element-7a17842
  .eael-tooltip
  .eael-tooltip-text.eael-tooltip-bottom::after {
  left: calc(50% - 18px);
}
.elementor-2463
  .elementor-element.elementor-element-7a17842
  .eael-tooltip
  .eael-tooltip-text.eael-tooltip-top:after {
  border-top-color: #555;
}
.elementor-2463
  .elementor-element.elementor-element-7a17842
  .eael-tooltip
  .eael-tooltip-text.eael-tooltip-bottom:after {
  border-bottom-color: #555;
}
.elementor-2463
  .elementor-element.elementor-element-7a17842
  .eael-tooltip
  .eael-tooltip-text.eael-tooltip-left:after {
  border-left-color: #555;
}
.elementor-2463
  .elementor-element.elementor-element-7a17842
  .eael-tooltip
  .eael-tooltip-text.eael-tooltip-right:after {
  border-right-color: #555;
}
